@import "tailwindcss";
.carousel .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.carousel .slide img {
  width: 100%;
  height: auto !important;
  object-fit: contain !important;
}

.carousel .slider-wrapper {
  height: auto !important;
}

.carousel .carousel-status {
  display: none !important;
}



/* Make slick slides equal height */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide > div {
  display: flex;
  height: 100%;
}
.slick-list {
  overflow: hidden !important;
}

.slick-dots li button:before {
  color: #fff !important;
  opacity: 0.6 !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
  opacity: 1 !important;
}

section {
  scroll-margin-top: 90px; /* height of header */
}

/* ✅ Custom Scrollbar - Modern Thin */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f103f;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffa343, #ff3d6e);
  border-radius: 10px;
  border: 2px solid #0f103f;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffbe63, #ff3d6e);
}





@page {
  size: A3 landscape;
  margin: 0;
}


@media print {
  /* Prevent browser from clipping circles */
  .print-circle {
    overflow: visible !important;
    clip-path: none !important;
  }

  /* Ensure parent allows full render */
  .page,
  body {
    overflow: visible !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

