@import "tailwindcss";
.carousel .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.carousel .slide img {
  width: 100%;
  height: auto !important;
  object-fit: contain !important;
}

.carousel .slider-wrapper {
  height: auto !important;
}

.carousel .carousel-status {
  display: none !important;
}


/* Thin scrollbar */
.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}



